{% extends 'base_site.html' %}

{% block content %}

    <h1> Ajout d'une nouvelle recette </h1>

    {% if form.errors %}
        <p style="color: red;"> Veuillez corrigez l'erreur ci-dessous :</p>
    {% endif %}

    <form method="post" action="{% url 'recettesdecuisine:addRecette' %}" enctype="multipart/form-data">
        <fieldset>
            <legend> Informations sur la recettes :</legend>
            {% csrf_token %}

            {{ form.as_p }}

            <p style="text-align: center"><a href={% url 'recettesdecuisine:addIngredient' %}> Ajouter un nouvel
                ingrédient </a></p>
            <input type="submit" value="Sauvegarder">
        </fieldset>
    </form>

{% endblock %}