{% extends "base_site.html" %}


{% block content %}


    <h1>{{ recette.title }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <p> Pour noter cette recette, veuillez sélectionner une note :</p>

    <form action="{% url 'recettesdecuisine:vote' recette.id %}" method="post">
        {% csrf_token %}
        {% for choice in recette.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
            <label for="choice{{ forloop.counter }}">{{ choice.note }}</label><br/>
        {% endfor %}
        <input type="submit" value="Valider"/>
    </form>

    <p> Si la note que vous voulez attribuer à cette recette n'est pas disponible, vous pouvez l'ajouter.</p>
    <a href={% url 'recettesdecuisine:addNote' %}> Ajouter une note </a></li>


{% endblock %}