<form action="{% url 'recettesdecuisine:recipeSearch' %}" method="GET">
    <fieldset>
        <legend> Rechercher une recette par titre, ou par ingrégients :</legend>
        {% comment %}
            {% csrf_token %}
             <input type="text" name="title" id="title" value=""/>
            {% endcomment %}
        <p>{{ form.title.label }} {{ form.title }}</p>

        <p> {{ form.operator.label }} {{ form.operator }}</p>

        <p> {{ form.ingredients.label }} :
            {% for i in form.ingredients %}
                {{ i }}
            {% empty %}
                Aucun ingrédient disponible!
                <p><a href={% url 'recettesdecuisine:addIngredient' %}> Ajouter un ingrédient </a></p>
            {% endfor %}
        </p>
        <input type="submit" value="Rechercher"/>
    </fieldset>
</form>
