{% extends 'base.html' %}

{% block content %}

    <h1 style="text-align: center"> Recettes de cuisine </h1>

    <ul>
    {% for recette in recettesList %}
         <li><a href={% url 'recettesdecuisine:detail' recette.id %}> {{ recette.title }} </a></li>
    {% endfor %}
    </ul>

    <p style="text-align: center"> <a href={% url 'recettesdecuisine:loggedin' %}> Se connecter </a> </p>
    <p style="text-align: center"> <a href={% url 'recettesdecuisine:registerUser' %}> Créer un compte </a> </p>

{% endblock %}