{% extends "base_site.html" %}

<!-- recipeSearch -->
{% block recipeSearch %}
    {% include "recettesdecuisine/inc_recipeSearch.html" %}
{% endblock %}

{% block content %}


    <form action="{% url 'recettesdecuisine:recipeSearchFilter' %}" method="GET">
        {% comment %}
            {% csrf_token %}
            {{ form.as_p }}
            {% endcomment %}

        {{ filterform }}
        <input type="submit" value="Filtrer"/>
    </form>



    <ul>

        {% if queryResult != "noRequest" %}
            {% for recette in  queryResult %}

                <li><a href={% url 'recettesdecuisine:recipeDetail' recette.id %}> {{ recette.title }} </a></li>
            {% empty %}

                <li> Aucun résultat trouvé.</li>

            {% endfor %}
        {% endif %}

    </ul>

{% endblock %}